<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error{
            border:1px solid red;
            color:red;
        }
    </style>
</head>
<body>
  <form th:action th:method="post" th:object="${dto}">
    Email : <input type="email" th:field="*{email}" th:errorclass="field-error"/><p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br>
    Password : <input type="password" th:field="*{password}" th:errorclass="field-error"/><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p><br>
      <p class = "field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
    <input type="submit" value="로그인">
  </form>

  <a th:href="@{join}">회원가입하기</a>
</body>
</html>